@import "~react-toolbox/lib/colors";

$color-primary: $palette-red-500;
$color-primary-dark: $palette-red-700;
$color-accent: $palette-blue-500;
$color-accent-dark: $palette-blue-700;

$color-divider: #BDBDBD;
$color-text: #212121;
$color-text-secondary: #757575;